NEXT_PUBLIC_ETHEREUM_RPC=
NEXT_PUBLIC_SEPOLIA_RPC=
NEXT_PUBLIC_TITAN_RPC=https://rpc.titan.tokamak.network
NEXT_PUBLIC_TITAN_SEPOLIA_RPC=
NEXT_PUBLIC_THANOS_SEPOLIA_RPC=
NEXT_PUBLIC_INFURA_RPC_ETHEREUM=
NEXT_PUBLIC_ROUTING_API=
NEXT_PUBLIC_SUBGRAPH_TITAN=
NEXT_PUBLIC_PRICE_API=
NEXT_PUBLIC_L1BRIDGE_MAINNET=
NEXT_PUBLIC_SUBGRAPH_ETHEREUM_HISTORY=
NEXT_PUBLIC_SUBGRAPH_SEPOLIA_HISTORY=
NEXT_PUBLIC_SUBGRAPH_TITAN_HISTORY=
NEXT_PUBLIC_SUBGRAPH_TITAN_SEPOLIA_HISTORY=