.top-layer {
    /* Rectangle 788 */
    box-sizing: border-box;
    position: absolute;
    width: 178px;
    height: 242px;
    right: 12px;
    top: 0px;
    background: #0f0f12;
    border: 1px solid #313442;
    border-radius: 16px;
  }
  
  .mid-layer {
    box-sizing: border-box;
    position: absolute;
    width: 178px;
    height: 234px;
    right: 16px;
    bottom: -4px;
    border: 1px solid rgba(49, 52, 66, 0.6);
    border-radius: 16px;
  }
  
  .bottom-layer {
    /* Rectangle 791 */
    box-sizing: border-box;
    position: absolute;
    width: 178px;
    height: 234px;
    left: 0px;
    bottom: -8px;
    border: 1px solid rgba(49, 52, 66, 0.2);
    border-radius: 16px;
  }
  