.switch-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  pointer-events: none;
  user-select: none;
}

.switch-on {
  background-color: #3f37c9;
}
