.chakra-switch {
  background: transparent;
  border: 1px solid #565b72;
  border-radius: 25px;
  width: 58px;
  height: 28px;
}

.chakra-switch[data-checked] {
  border-color: #007aff;
}

.chakra-switch__track {
  background: transparent;
}

.chakra-switch__thumb {
  /* width: 20px;
  height: 20px; */
  background: #565b72;
  margin-left: 4px;
  margin-top: 1px;
  width: 20px !important;
  height: 20px !important;
}

.chakra-switch__thumb[data-checked] {
  /* width: 20px;
  height: 20px; */
  background: #007aff;
  /* margin-right: -2px !important; */
  margin-left: 6px;
  margin-top: 1px;
}
