.chakra-switch {
  background: transparent;
  border: 1px solid #565b72;
  border-radius: 25px;
  width: "56px";
}

.chakra-switch[data-checked] {
  border-color: #007aff;
}

.chakra-switch__track {
  background: transparent;
}

.chakra-switch__thumb {
  background: #565b72;
  margin-left: 2px;
}

.chakra-switch__thumb[data-checked] {
  background: #007aff;
  margin-left: 2px;
}
