.first-layer {
  /* Rectangle 788 */
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 248px;
  right: 12px;
  top: 0px;
  /* select network */
  background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23333' stroke-width='1' stroke-dasharray='12%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: "16px";
}

.second-layer {
  box-sizing: border-box;
  position: absolute;
  width: 192px;
  height: 240px;
  right: 16px;
  bottom: 4px;
  border: 1px solid rgba(49, 52, 66, 0.6);
  border-radius: 16px;
}

.third-layer {
  box-sizing: border-box;
  position: absolute;
  width: 192px;
  height: 240px;
  right: 20px;
  bottom: 0px;
  border: 1px solid rgba(49, 52, 66, 0.6);
  border-radius: 16px;
}

.last-layer {
  /* Rectangle 791 */
  box-sizing: border-box;
  position: absolute;
  width: 193px;
  height: 255px;
  left: 0px;
  bottom: 0px;
  border: 1px solid rgba(49, 52, 66, 0.2);
  border-radius: 16px;
}
